/* assignment-3.css */

body, h2, p {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    max-width: 800px;
}

article {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media screen and (min-width: 900px) {
    section {
        flex-direction: row;
    }
}
